#title{
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal; 
  background-color:transparent;
  color:indigo;
  font-size:2.3rem;
  text-align:center;
}
h1{
    display:block;
    font-size:2em;   
}
#navbar{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color:transparent;
  margin-top:1px;
  font-size:1.5rem;
  width:300px;
  height:500px;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:mediumpurple;
    height:360px;
}
li a{
    display:block;
    color:white;
    padding:30px 15px;
    text-decoration:none;
}
li a.active{
    background-color:rgb(185, 150, 255);
    color:black;
}
li a:hover{
    background-color:rgb(198, 170, 255);
    color:black;
    cursor:url('images/giphy_s.gif'),auto;
}
#welcome{
    font-size:1.5rem;
    background-color:lavender;
    color:rgb(70, 54, 102);
    text-align:center;
    padding-left:50px;
    padding-right:50px;
}
#home{
    background-color:lavender;
    color:indigo;
    text-align:center;
    font-size:2.5rem;
    font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}
.grid-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 5px;
    margin-top: 15px; 
}
#contentExamples{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color:lavender;
  margin-top:15px;
  text-align:center;
  font-size:1.5rem;
  margin-left:10px;
  padding:5px;
}
#tiktokContent{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color:lavender;
  margin-top:15px;
  text-align:center;
  font-size:1.5rem;
  margin-left:10px; 
  padding:5px; 
}
#tiktoks{
  display: flex;
  padding-left:155px;
  padding-right:155px;
  width:1000px;
  justify-content: center;
  align-items: center;
}
#tiktoksTwo{
  display: flex;
  padding-left:155px;
  padding-right:155px;
  width:1000px;
  justify-content: center;
  align-items: center;
}
#tiktoksThree{
  display: flex;
  padding-left:155px;
  padding-right:155px;
  width:1000px;
  justify-content: center;
  align-items: center;
}

h3{
    font-size: 1.5rem;
    animation-name:changeFont;
    animation-duration:10s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
@keyframes changeFont{
    0%{color:deeppink;}
    5%{color:black;}
    10%{color:red;}
    15%{color:black;}
    20%{color:deeppink;}
    25%{color:black;}
    30%{color:red;}
    35%{color:black;}
    40%{color:deeppink;}
    45%{color:black;}
    50%{color:red;}
    55%{color:black;}
    60%{color:deeppink;}
    65%{color:black;}
    70%{color:red;}
    75%{color:black;}
    80%{color:deeppink;}
    85%{color:black;}
    90%{color:red;}
    95%{color:black;}
    100%{color:deeppink;}
}



body{
  background-color:rgb(231, 182, 255);
  background-image:url('images/il_fullxfull.2410503726_5nt6.avif');
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left:10%;
  margin-right:10%;
}
*{
    cursor: url('images/594-5940098_pompompurin.png'), auto;
}
.star {
	position: fixed;
	pointer-events: none;
}

.star:before, .star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}

.star:before {
	color: transparent;
	text-shadow: 0 0 3px rgb(255, 255, 255);
}

.star:after {
	background: rgb(255, 255, 255);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}