#title{
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal; 
  background-color:transparent;
  color:indigo;
  font-size:2rem;
  text-align:center;
}
h1{
    display:block;
    font-size:2em;   
}
#navbar{
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color:transparent;
  margin-top:1px;
  font-size:1.5rem;
  width:255px;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:mediumpurple;
}
li a{
    display:block;
    color:white;
    padding:8px 16px;
    text-decoration:none;
}
li a.active{
    background-color:rgb(185, 150, 255);
    color:black;
}
li a:hover{
    background-color:rgb(198, 170, 255);
    color:black;
    cursor:url('images/giphy_s.gif'),auto;
}
#welcome{
    font-size:2.5rem;
    background-color:lavender;
    color:indigo;
    text-align:center;
}
#welcomeTitle{
    background-color:lavender;
    color:indigo;
    text-align:center;
}
.grid-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 5px;
    margin-top: 15px;  
}

body{
  background-color:rgb(231, 182, 255);
  background-image:url('images/il_fullxfull.2410503726_5nt6.avif');
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left:10%;
  margin-right:10%;
}
*{
    cursor: url('images/594-5940098_pompompurin.png'), auto;
}
.star {
	position: fixed;
	pointer-events: none;
}

.star:before, .star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}

.star:before {
	color: transparent;
	text-shadow: 0 0 3px rgb(255, 255, 255);
}

.star:after {
	background: rgb(255, 255, 255);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}