
*{
    cursor: url('images/594-5940098_pompompurin.png'), auto;
}
body{
    background-color:rgb(231, 182, 255);
    font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left:10%;
  margin-right:10%;
}
main{
    margin-left:-10%;
    margin-right:-10%;
}
h1{
    text-align: center;
    font-size:50px;
    color:indigo;
}
h2{
    text-align:center;
    font-size:35px;
}
.topnav{
    background-color:mediumpurple;
    overflow:hidden;
    display: flex;
  justify-content: center;
  align-items: center;
}
.topnav a{
    float: left;
    color:ghostwhite;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:20px;
    width:25%;
}
.topnav a:hover{
    background-color:rgb(198, 170, 255);
    color:black;
    cursor:url('images/giphy_s.gif'),auto;
}
.topnav a.active{
    background-color:rgb(185, 150, 255);
    color:black;
}

p{
    text-align:center;
    font-size:18px;
}