
*{
    cursor: url('images/594-5940098_pompompurin.png'), auto;
}
body{
    background-color:rgb(231, 182, 255);
    background-image:url('images/il_fullxfull.2410503726_5nt6.avif');
    font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left:10%;
  margin-right:10%;
}
main{
   height: fit-content;
}
h1{
    text-align: center;
    font-size:65px;
    color:indigo;
    font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}
h2{
    text-align:center;
    font-size:35px;
    font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
  color:indigo;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    width:200px;
    background-color:mediumpurple;
}
li a{
    display:block;
    color:white;
    padding:8px 16px;
    text-decoration:none;
}
li a.active{
    background-color:rgb(185, 150, 255);
    color:black;
}
li a:hover{
    background-color:rgb(198, 170, 255);
    color:black;
    cursor:url('images/giphy_s.gif'),auto;
}
p{
    text-align:center;
    font-size:18px;
}
.star {
	position: fixed;
	pointer-events: none;
}

.star:before, .star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}

.star:before {
	color: transparent;
	text-shadow: 0 0 3px rgb(255, 255, 255);
}

.star:after {
	background: rgb(255, 255, 255);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}